@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98.04%;
    --foreground: 220.91 39.29% 10.98%;
    --muted: 220 13.04% 90.98%;
    --muted-foreground: 220 8.94% 46.08%;
    --popover: 0 0% 100%;
    --popover-foreground: 220.91 39.29% 10.98%;
    --card: 0 0% 100%;
    --card-foreground: 220.91 39.29% 10.98%;
    --border: 220 13.04% 90.98%;
    --input: 220 13.04% 90.98%;
    --primary: 261.56 53.33% 47.06%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 220.91 39.29% 10.98%;
    --accent: 220 14.29% 95.88%;
    --accent-foreground: 220.91 39.29% 10.98%;
    --destructive: 3.96 72.8% 50.98%;
    --destructive-foreground: 0 0% 100%;
    --ring: 262.11 53.27% 79.02%;
    --chart-1: 262.11 53.27% 79.02%;
    --chart-2: 183.6 84.27% 34.9%;
    --chart-3: 40.11 80% 54.9%;
    --chart-4: 339.77 74.78% 54.9%;
    --chart-5: 220.45 70.08% 50.2%;
    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0 0% 1.96%;
      --foreground: 0 0% 90.2%;
      --muted: 156 9% 8%;
      --muted-foreground: 0 0% 60%;
      --popover: 0 0% 6.27%;
      --popover-foreground: 0 0% 90.2%;
      --card: 0 0% 9.8%;
      --card-foreground: 0 0% 90.2%;
      --border: 0 0% 13.73%;
      --input: 0 0% 17.65%;
      --primary: 258.05 71.93% 66.47%;
      --primary-foreground: 0 0% 90.2%;
      --secondary: 0 0% 0%;
      --secondary-foreground: 0 0% 90.2%;
      --accent: 0 0% 15.69%;
      --accent-foreground: 0 0% 60%;
      --destructive: 3.95 72.93% 44.9%;
      --destructive-foreground: 0 0% 100%;
      --ring: 262.11 53.27% 79.02%;
      --chart-1: 261.82 54.1% 88.04%;
      --chart-2: 183.75 45.28% 58.43%;
      --chart-3: 40.27 76.84% 62.75%;
      --chart-4: 340 73.06% 62.16%;
      --chart-5: 220.66 71.03% 58.04%;
    }
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-start justify-center;
  }
}

@layer components {
  .h1-bold {
    @apply font-opensans-bold text-3xl;
  }

  .h3-bold {
    @apply font-opensans-bold text-xl;
  }

  .base-bold {
    @apply font-opensans-bold text-lg !important;
  }

  .base-semibold {
    @apply font-opensans-semibold text-lg;
  }

  .base-semibold {
    @apply font-opensans-semibold text-lg;
  }

  .base-medium {
    @apply font-opensans-medium text-lg;
  }

  .paragraph-bold {
    @apply font-opensans-bold text-base;
  }

  .paragraph-semibold {
    @apply font-opensans-semibold text-base;
  }

  .paragraph-medium {
    @apply font-opensans-medium text-base;
  }

  .body-medium {
    @apply font-opensans-medium text-sm;
  }

  .body-regular {
    @apply font-opensans text-sm;
  }

  .small-bold {
    @apply font-opensans-bold text-xs;
  }
}
